---
import { contentfulClient } from "../lib/contentful";
import type { AstroDeluxe } from "../lib/contentful";

import "../styles/global.css";

const pageTitle = "Blog Page";

const entries = await contentfulClient.getEntries<AstroDeluxe>({
  content_type: "astroDeluxe",
});

const posts = entries.items.map((item) => {
  const { title, date, description, slug } = item.fields;
  return {
    title,
    slug,
    description,
    date: new Date(date).toLocaleDateString()
  };
});
---

  <main>
    <section id="hero">
      <h1>{pageTitle}</h1>
        {posts.map((post) => (
          <section>
            <a href={`/posts/${post.slug}/`}>
              <h2>{post.title}</h2>
            </a>
            <time>{post.date}</time>
            <p>{post.description}</p>
          </section>
        ))}
    </section>
  </main>